header {
  background-size: cover;
  height: 50vh;
  background-attachment: fixed;
  }
ul{
    top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
 }
li{
    display: inline;
    margin-right: 50px;
    margin-left: 50px;
    color:lightblue;
  }
  
a {
    float: left;
    display: block;
    color:  black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
a:hover {
    background-color: lightblue;
    color: black;
}
.registerborder{
  width: 80px;
  border-radius: 10px;
  text-align: center;
  align-self: center;
}
body{
  background-image: url(bgr.jpg);
  background-size: cover;
}
section {
  width: 100%;
  margin: 50px;
  box-shadow: 0px 5px 15px rgb(189, 187, 187);
  border-radius: 5px;
  display: inline-block;
  text-align: left;
  text-transform: uppercase;
}
p{
  text-align: center;
  color: black;
}
h2 {
  color: black;
  text-align: center;
}
.flex1{
  max-width: 300px;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-wrap: wrap;
	padding: 50px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px black;
	border-radius: 10px;
}
.flex2{
  max-width: 400px;
	padding: 100px;
	margin: 50px auto;
	border-radius: 10px;
}
.textbox {
  font-style: icon;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
	border: 1px solid black;
	border-radius: 30px;
	outline:0;
	height:25px;
	width: 275px;
	padding-left:10px;
	padding-right:10px;
}
.flex3{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px;
    margin: 40px auto;
    border-radius: 20px;
    box-shadow: 1px 1px 25px black;
}
button {
  padding: 10px;
  width: 300px;
  position: absolute;
  left: 45%;
  border-radius: 5px;
  cursor: pointer;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;
  top: 40%;
  margin: 20px;
}
.product {
  margin: 10px;
  width: 200px;
  border: 2px solid brown;
  border-radius: 10px;
  padding: 20px;
}
/*footer*/
footer {
  height: 50px;
  text-align: center;
  padding: 10px;;
  background-color: rgba(255, 255, 255, 0.906);
  color: rgb(29, 16, 122);
  text-transform: uppercase;
}
